<%= render "shared/sidebar" %>

<section class="content-body">

<% @messages.each do |message| %>

	<h3>From: <%= message.author.username %>, To: <%= message.recipient.username %>, Date: <%= message.created_at %> </h3>
	
	<p><%= message.body %> <%= button_to "Delete", message_url(message.id), 
		{method: :delete, class: "button button-delete"} %></p>
	
<% end %>

<%= link_to "Send New Message", new_message_url, class: "button button-send-message"%>

</section>