<%= render "shared/sidebar" %>

<section>

<h1><%= @user.username %></h1>


<script type="application/json" id="bootstrapped_trans_json">
  { "trans": <%= @trans.to_json.html_safe %>,
		"categories": <%= @categories.to_json.html_safe %>,
		"dataSeries": <%= @data_series.to_json.html_safe %> }
</script>

<div id="category-spend" style="width:100%; height:400px;"></div>

<script>
	var transData = JSON.parse($("#bootstrapped_trans_json").html());
	
	$(function () { 
	    $('#category-spend').highcharts({
	        chart: {
	            type: 'bar'
	        },
	        title: {
	            text: 'Spending by Category'
	        },
	        xAxis: {
	            categories: transData.categories
	        },
	        yAxis: {
	            title: {
	                text: 'Amount Spent'
	            }
	        },
					series: transData.dataSeries
	    });
	});
</script>

</section>