<%= render "shared/sidebar" %>

<section class="content-body">

<h1>Compare Everyone's Spending!</h1>


<script type="application/json" id="bootstrapped_trans_json">
  { "categories": <%= @categories.to_json.html_safe %>,
		"catSpendSeries": <%= @cat_spend_series.to_json.html_safe %>,
		"timeSpendSeries": <%= @time_spend_series.to_json.html_safe %>,
		"catSpendPieSeries": <%= @cat_spend_pie_series.to_json.html_safe %>
	 }
</script>

<div class="graphs">
	<div class="graph" id="spend-over-time" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<br> <br>
	<div class="graph" id="category-spend" style="width:100%; height:400px;"></div>
	<br> <br>
	<div class="graph" id="pie" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>

<script>
	var transData = JSON.parse($("#bootstrapped_trans_json").html());
	
	console.log(transData.catSpendPieSeries);
	
	
	for (var i = 0; i < transData.timeSpendSeries.length; i++) {
		
		for (var j = 0; j < transData.timeSpendSeries[i]["data"].length; j++) {
			var oldDate = transData.timeSpendSeries[i]["data"][j][0];
			var newDate = Date.parse(oldDate);
			transData.timeSpendSeries[i]["data"][j][0] = newDate;
		}
	}
	
	$(function () { 
	    $('#category-spend').highcharts({
	        chart: {
	            type: 'bar'
	        },
	        title: {
	            text: 'Spending by Category'
	        },
					tooltip: {
              shared: true,
              valuePrefix: '$ '
          },
	        xAxis: {
	            categories: transData.categories
	        },
	        yAxis: {
	            title: {
	                text: 'Amount Spent'
	            }
	        },
					series: transData.catSpendSeries
	    });
	});


	$(function () {
      $('#spend-over-time').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Spending Over Time'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: { // don't display the dummy year
						// day: '',
            month: '%b \'%y',
            year: '%Y'
	      	},
        },
        yAxis: {
          title: {
            text: 'Spending per day'
          },
          min: 0
        },
				
				plotOptions: {
	        series: {
            pointWidth: 10
	        }
		    },
				series: transData.timeSpendSeries
    });
	});
	
	$(function () {
		$('#pie').highcharts({
		            chart: {
		                plotBackgroundColor: null,
		                plotBorderWidth: null,
		                plotShadow: false
		            },
		            title: {
		                text: 'Spending by Category - All Users'
		            },
		            tooltip: {
		        	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		            },
		            plotOptions: {
	                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                      enabled: false
                    },
                    showInLegend: true
	                }
		            },
		            series: [{
		                type: 'pie',
		                name: 'Spending share',
		                data: transData.catSpendPieSeries
		            }]
		        });
  });
    
</script>

</section>