<%= render "shared/sidebar" %>

<section class="content-body">

<h3>Trustees</h3>

<h4>People whom you've entrusted (trustees):</h4>

<div class="trustee-list">
	<%= render partial: "transactions/trustee_list", local: @trustees %>
</div>

<br>

<form 
	id="trustee-new-form"
	action="<%= trusts_url %>" 
	method="post" 
	data-remote="true">
	
	
	<input type="hidden" 
	name="authenticity_token" 
	value="<%= form_authenticity_token %>">
	
	<label for="new_trustee">New Trustee:</label>
	<input type="text" name="trust[trustee]" value="" id="new_trustee">
	<input type="submit" value="Add">
</form>

<br>

<h4>People who have entrusted you (entrustors):</h4>
	<div class="entrustors">
		<% if @entrustors.empty? %>
				<p id="no-entrustors">Nobody trusts you :-(</p>
		<% else %>
			<% @entrustors.each do |entrustor|  %>
				<% user = User.find(entrustor.entrustor_id) %>
				<tr id="<%= user.id %>">
					<td>
						
						<a href="<%= trust_transactions_url(user.id) %>" data-remote="true">
							<%= user.username %>
						</a>
						
					</td>
				</tr>
			<% end %>
		<% end %>
	</div>
	
	
	<div class="entrustor-transactions">
		(Select an entrustor to see their transactions)
	</div>
	
</section>


<script>
$(document).ready(function(event){
	$(".entrustors").on("ajax:success", "a", function(event, data){
	  console.log(data);

	  $(".entrustor-transactions").html(data);
	});

	
  $("#trustee-new-form").on("ajax:success", function(event, data){
    console.log(data);

    var $form = $(this);

    $(".trustee-list").html(data);
    $form[0].reset();
  });
});
</script>



<!-- // <script>
// $(document).ready(function(event){
//   $("section").on("click", "a", function(event){
//     event.preventDefault();
//     var $a = $(this);
//     var url = $a.attr("href");
//     console.log(url);
//     $.ajax({
//       url: url,
//       method: "GET",
//       dataType: "html",
//       success: function(data){
//         console.log(data);
//         $("#cat-featured").html(data);
//       }
//     });
//   });
// });
 </script> -->