<%= render "shared/sidebar" %>

<section>

<h3>Trustees</h3>

<h4>People whom you've entrusted (trustees):</h4>
<% if @trustees.empty? %>
	<p id="no-trustees">Ya gotta trust somebody...</p>
<% else %>
	<table>
	<% @trustees.each do |trustee| %>
		<% user = User.find(trustee.trustee_id) %>
		<tr id="<%= user.id %>">
			<td>
				<%= user.username %>
			</td>
			<td class="remove_button">
				<%= button_to "Remove", trust_url(trustee), method: :delete %>
			</td>
		</tr>
	<% end %>
</table>
<% end %>

<br>

<form action="<%= trusts_url %>" method="post">
	<input type="hidden" 
	name="authenticity_token" 
	value="<%= form_authenticity_token %>">
	
	<label for="new_trustee">New Trustee:</label>
	<input type="text" name="trust[trustee]" value="" id="new_trustee">
	<input type="submit" value="Add">
</form>

<br>

<h4>People who have entrusted you (entrustors):</h4>
	<div class="entrustors">
		<% if @entrustors.empty? %>
				<p id="no-entrustors">Nobody trusts you :-(</p>
		<% else %>
			<% @entrustors.each do |entrustor|  %>
				<% user = User.find(entrustor.entrustor_id) %>
				<tr id="<%= user.id %>">
					<td>

						<%= link_to user.username, trust_transactions_url(user.id) %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</div>
</section>

<!-- 

<script>
$(document).ready(function(event){
	
  $("section").on("click", "a", function(event){
    event.preventDefault();

    var $a = $(this);
    var url = $a.attr("href");

    console.log(url);

    $.ajax({
      url: url,
      method: "GET",
      dataType: "html",
      success: function(data){
        console.log(data);
        $("#cat-featured").html(data);
      }
    });
  });
	
	
});
</script> -->