<%= render "shared/sidebar" %>

<section class="content-body">
	
	<h3><%= @trustee.username %>'s transactions</h3>
	
<table>
<tr>
  <th></th>
  <th>Date</th>
  <th>Description</th>
  <th>Amount</th>
  <th>Category</th>
  <th>Privacy</th>
  <th></th>
</tr>
<% @transactions.each do |tran| %>
  <tr data-id="<%= tran.id %>">
    <form action="<%= transaction_url(tran) %>" method="post">
      <input type="hidden" name="_method" value="put">

      <input type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

      <td class="blank"></td>
      <td class="date">
        <%= tran.date %>
      </td>
      <td class="description">
        <%= tran.description %>
      </td>
      <td class="amount">
        <%= tran.amount %>
      </td>
      <td class="category">
        <input type="text" name="transaction[category]"
        value="<%= tran.category %>" id="category">
      </td>

      <td class="privacy">
        <select name="transaction[privacy]">
          <option value="private">
          private</option>
          <option value="shared"
          "<%= tran.privacy == 'shared' ? " selected='selected'" : ''%>">
          shared</option>
        </select>
        </td>

      <td class="edit">
        <input type="submit" value="Update">
      </td>

    </form>

    <td class="remove_button">
      <%= button_to "Remove", transaction_url(tran),
      method: :delete %>
    </td>

  </tr>
<% end %>




<form action="<% transactions_url %>" method="POST">

  <input type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <td class="blank"></td>
  <td class="date"><input type="date" name="transaction[date]"
  value="" id="date"></td>
  <td class="description"><input type="text" name="transaction[description]"
  value="description" id="description"></td>
  <td class="amount"><input type="text" name="transaction[amount]"
  value="amount" id="amount"></td>
  <td class="category"><input type="text" name="transaction[category]"
  value="" id="category"></td>
  <td class="privacy">
    <select name="transaction[privacy]">
      <option value="private" selected="selected">private</option>
      <option value="shared">shared</option>
    </select>
  </td>
  <td class="add"><input type="submit" value="Add"></td>
  <td class="blank"></td>
</form>

</table>

</section>