<h3><%= user.username %>'s transactions:</h3>

<table>
<tr>
  <th></th>
  <th>Date</th>
  <th>Description</th>
  <th>Amount</th>
  <th>Category</th>
  <th></th>
</tr>
<% user.transactions.each do |tran| %>
  <tr data-id="<%= tran.id %>">
	  <td class="date">
	    <%= tran.date %>
	  </td>
	  <td class="description">
	    <%= tran.description %>
	  </td>
	  <td class="amount">
	    <%= tran.amount %>
	  </td>
	  <td class="category">
	    <%= tran.category %>
	  </td>
  </tr>
<% end %>
</table>