<!DOCTYPE html>
<html>
<head>
  <title>Frugalist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<header class="header">
	<div class="header-wrapper group">
	
  <% if flash[:errors] && !flash[:errors].empty? %>
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

	<% if current_user.nil? %>
	
	<h1 class="logo">
		<a href="<%= new_session_url %>"><img src="https://s3.amazonaws.com/frugalist-dev/frugalist-logo.png" width="275" height="91" alt="Logo"></a>
	</h1>
	
	  <ul class="head-right group">
	    <li><%= link_to "Sign In", new_session_url %></li>
	    <li><%= link_to "Sign Up", new_user_url %></li>
	  </ul>
	  
	<% else %>

	<h1 class="logo">
		<a href="<%= user_url(current_user) %>">
			<img src="https://s3.amazonaws.com/frugalist-dev/frugalist-logo.png" width="275" height="91" alt="Logo">
		</a>
	</h1>

	  <ul class="head-right group">
	    <li>Profile: <%= link_to current_user.username,  user_url(current_user) %></li>
	    <li><%= button_to "Logout", session_url, :method => :delete %></li>
	  </ul>
	<% end %>
	
</div>
	
</header>

<section class="main">
<%= yield %>
</section>

</div>
</body>
</html>
