<!DOCTYPE html>
<html>
<head>
  <title>Frugalest</title>
  <!-- <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %> -->
  <%= csrf_meta_tags %>
</head>

<body>
	
<header>
	<% if current_user.nil? %>
	
	<h1><%= link_to "The Frugalist",  new_session_url %></h1>
	
	  <ul>
	    <li><%= link_to "Sign In", new_session_url %></li>
	    <li><%= link_to "Sign Up", new_user_url %></li>
	  </ul>
	  
	<% else %>

	<h1><%= link_to "The Frugalist",  user_url(current_user) %></h1>

	  <ul>
	    <li>Profile: <%= link_to current_user.username,  user_url(current_user) %></li>
	    <li><%= button_to "Logout", session_url, :method => :delete %></li>
	  </ul>
	<% end %>
</header>


<%= yield %>


</body>
</html>
