<!DOCTYPE html>
<html>
<head>
  <title>Frugalist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>


	<div class="error-bar group">
	  <% if flash[:errors] && !flash[:errors].empty? %>
	    <% flash[:errors].each do |error| %>
				<div class="error-msg">
		      <%= error %>
				</div>
	    <% end %>
	  <% end %>
		<% flash[:errors] = nil %>
	</div>

<header class="header">
	
	
	<div class="header-wrapper group">

	<% if current_user.nil? %>
	
	<h1 class="logo">
		<a href="<%= new_session_url %>"><img src="https://s3.amazonaws.com/frugalist-dev/frugalist-logo.png" width="275" height="91" alt="Logo"></a>
	</h1>

	<% else %>

	<h1 class="logo">
		<a href="<%= user_url(current_user) %>">
			<img src="https://s3.amazonaws.com/frugalist-dev/frugalist-logo.png" width="275" height="91" alt="Logo">
		</a>
	</h1>

	  <ul class="head-right group">
	    <li><%= button_to "Logout", session_url, {method: :delete, class: ["button", "button-logout"]} %></li>
			
			<li id="profile">Profile: <%= link_to current_user.username,  user_url(current_user), class: ["button", "button-profile"] %></li>
	  </ul>
	<% end %>
	
</div>
	
</header>

<section class="main group">
<%= yield %>

<% if !current_user.nil? %>
	<footer class="footer group">
		<small class="footer-copy">
		</small>
		<nav class="footer-links">
			<ul class="group">
				<li><a href="#">About</a></li>
				<li><a href="#">Privacy</a></li>
			</ul>
		</nav>
	</footer>
<% end %>

</section>





</div>
</body>
</html>
